.git
.github
.vs
.claude

**/bin
**/obj
**/.vs
**/*.user
**/*.suo
**/*.db

**/node_modules
ItemNest.Api/itemnest-front/dist

ItemNest.Api/appsettings.json
ItemNest.Api/itemnest-front/.env

ItemNest.Api/wwwroot/uploads
ItemNest.Api/itemnest-front.zip
ItemNest.zip
